.user-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.errorText{
    color: red;
}

.react-tel-input .form-control{
    width: inherit !important;
}

.proheading{
    text-align: center;
}

.hompage-icon{
    margin-left: 6%;
    margin-top: 1%;
}

.contact-search{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigationIcon{
    flex-direction: column;
}

@media (max-width: 1024px) {
    .contactPhoto{
        justify-content: center;
        margin: 14px 0;
        display: flex;
    }
    .navigationIcon{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

